.banner {
	position: relative;
	top: -10px;
	left: -10px;
	width: 100vw;
}

.img-banner {
	width: 100%;
}

.banner-text {
	position: absolute;
	left: 25vw;
	bottom: 30vw;
	width: 50%;
	padding: 10px;
	background-color: white;
}

.banner-text-item {
	border: 1px solid #c9a227;
	text-align: center;
}

.banner-title {
	position: relative;
	bottom: 10px;
}

.heading {
	color: #c9a227;
	font-family: "Alex Brush";
	font-weight: normal;
	font-size: 50px;
}

.banner-paragraph {
	position: relative;
	bottom: 65px;
	width: 500px;
	margin: 0 auto;
}

.subheading {
	font-family: "Open Sans";
	font-size: 40px;
	font-weight: bold;
}

.banner-link {
	position: relative;
	bottom: 50px;
	display: block;
	width: 180px;
	padding: 15px 25px 15px 25px;
	margin: 0 auto;
	background-color: #c9a227;
	text-decoration: none;
	color: white;
	font-family: "Open Sans";
}

.banner-bullet-item {
	position: absolute;
	bottom: 25px;
	left: 47vw;
	display: flex;
}

.banner-bullet {
	width: 15px;
	height: 15px;
	margin: 0 5px 0 5px;
	border: 1px solid white;
	border-radius: 50%;
}

.banner-bullet:hover {
	cursor: pointer;
}

.active-img-banner {
	background-color: white;
}

.div-about-us {
	width: 80%;
	margin: 0 auto;
	padding-top: 20px;
}

.container-about-us {
	text-align: center;
}

.about-us-subtitle {
	position: relative;
	bottom: 60px;
}